# Environments
.env
.venv
env/
venv/

# Database
db.sqlite3
db.sqlite3-journal

# Python Bytecode (Covers all apps)
**/__pycache__/
__pycache__
*.py[cod]
*.pyc
**/migrations/
migrations

# Media and Static
/media/

# IDEs
.vscode/
.idea/


