# Environments
.env
.venv
env/
venv/

# Database
db.sqlite3
db.sqlite3-journal

# Python Bytecode (Covers all apps)
__pycached__
*.py[cod]
**/migrations/

# Media and Static
# /static/
/media/

# IDEs
.vscode/
.idea/