.navbar {
    background-color: #1a1a1a;
    color: white;
    padding: 0.8rem 2rem;
    font-family: 'Segoe UI', sans-serif;
}

.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 0;
}

.nav-links a {
    color: #ccc;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #fff;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #262626;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
    z-index: 1;
    border-radius: 4px;
    right: 0;

}


.dropdown-content a,
.logout-btn {
    color: #ccc;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    width: 100%;
    border: none;
    background: none;
    font-size: 14px;
    cursor: pointer;
}

.dropdown-content a:hover,
.logout-btn:hover {
    background-color: #333;
    color: white;
}



.dropdown:hover .dropdown-content {
    display: block;
}

.dropbtn {
    cursor: pointer;
}

hr {
    border: 0;
    border-top: 1px solid #444;
    margin: 0;
}


.register-btn {
    background-color: #444;
    padding: 6px 12px;
    border-radius: 4px;
}


.logo {
    color: #ffffff !important;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0;
    padding: 0x
}



.logo:visited,
.logo:hover,
.logo:active {
    color: #ffffff;
}



/* Footer Styles */
.main-footer {
    background-color: #1a1a1a;
    color: #b0b0b0;
    padding: 1rem 2rem 1rem;
    margin-top: 6rem;
    font-family: 'Segoe UI', sans-serif;
    border-top: 1px solid #333;
}



.footer-bottom {
    text-align: center;
    font-size: 0.8rem;
}


* {
    margin: 2;
    padding: 1;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #1a1a1a;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero-section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    padding: 20px;
    text-align: center;
}

.hero-content {
    flex: 1;
    max-width: 600px;
}

.hero-content h1 {
    font-size: 3.5rem;
    line-height: 1.1;
    margin-bottom: 20px;
}

.accent {
    color: #007bff;
}

.hero-content p {
    font-size: 1.2rem;
    color: #888;
    margin-bottom: 40px;
}

.hero-btns {
    display: flex;
    gap: 20px;
    text-align: center;
    justify-content: center;
}

/* Buttons */
.btn-primary {
    background-color: #ffffff;
    color: #121212;
    padding: 15px 35px;
    border-radius: 8px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;
}

.btn-secondary {
    border: 1px solid #444;
    color: #fff;
    padding: 15px 35px;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s;
}

.btn-primary:hover {
    background-color: #007bff;
    color: white;
}

/* Services Grid */
.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    padding: 80px 5%;
    background-color: #1a1a1a;
}

.service-card {
    background-color: #222;
    padding: 40px;
    border-radius: 12px;
    border: 1px solid #333;
    text-align: center;
    transition: transform 0.3s;
}

.service-card:hover {
    transform: translateY(-10px);
    border-color: #007bff;
}

.service-card h3 {
    margin-bottom: 15px;
    color: #fff;
}

.service-card p {
    color: #777;
    font-size: 0.95rem;
}





body {
    background-color: #000000;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

@media (max-width: 768px) {

    .navbar {
        padding: 0.8rem 2rem;
    }

    .nav-container {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: start;
        margin: 0;
        padding: 0.5rem 1rem;
    }

    .nav-links {
        list-style: none;
        display: flex;
        gap: 10px;
        justify-content: flex-start;
        margin: 0;
        padding: 0;
    }

    .hero-btns {
        display: flex;
        flex-direction: column;
        gap: 20px;
        text-align: center;
        justify-content: center;
    }
}