{% extends 'app/base_nav_bar.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<title>{% block title %} Login {% endblock %}</title>
{% endblock %}



{% block content %}

<div class="login-wrapper">
    <div class="login-card">
        <h2> Login</h2>
        <form method="post" class="auth-form">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn-login">Login</button>
        </form>
        <div class="login-footer">
            <p>Don't have an account? <a href="{% url 'register' %}">Register here</a></p>
        </div>
        <div class="text-center mt-3">
            <a href="{% url 'forgot_password_step1' %}" class="text-decoration-none">Forgot Password?</a>
        </div>
    </div>
</div>

{% endblock %}