{% extends 'app/base_nav_bar.html' %}
{% load static %}

{% block content %}
<div class="register-wrapper">
    <div class="register-card">
        <h2>Create Account</h2>
        <form method="post" class="auth-form">
            {% csrf_token %}
            <div class="form-container">
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn-register">Register</button>
        </form>
        <div class="login-footer">
            <p>Already have an account? <a href="{% url 'login' %}">Login here</a></p>
        </div>
    </div>
</div>
{% endblock %}


</body>
</html>


